*{
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    height: 100vh;
}

.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    flex: 1;
}

header {
    padding: 1em;
    background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
    color: aliceblue;
}

header h1{
    font-style:oblique;
}   

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
}

header nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 1rem;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: underline;
    color: purple;
    font-style: oblique;
}

main .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1.6rem;
    justify-content: space-around;
    border-radius: 8px;
    background: whitesmoke;
    box-shadow: #666666;
    border-color: aqua;
}

main .container-login{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    margin-top: 5rem;
    padding: 2rem;
    justify-content: space-around;
    flex : 1;
}

main .container-details{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: max-content;
}
#login-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
 }

 #wildcard{
    font-size: x-small;
    color: #666666;
 }

.container button, .container input, .container select{
    margin: 8px 0;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    background-color:linear-gradient(to top, #0ba360 0%, #3cba92 100%);;
    border-radius: 5px;
    width: max-content;
    justify-content: center;
    width: 10rem;
}

.btn-grad {background-image: linear-gradient(to right, #1D976C 0%, #93F9B9  51%, #1D976C  100%)}
.btn-grad {
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   background-size: 200% auto;
   color: white;            
   border-radius: 10px;
   display: block;
 }


.container-login button, .container-login input{
    margin: 8px 0;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: max-content;
    justify-content: center;
    width: 10rem;
}

.container .login-box button{
    width: 45%;
}


.login-box button:hover{
    background-color: green;
}


footer .container{
    text-align: center; 
    padding: 10px; 
    background-image: linear-gradient(to right, #4fb576 0%, #44c489 30%, #28a9ae 46%, #28a2b7 59%, #4c7788 71%);
    color: white;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
}


.container-importfile{
    display: none;
    padding: 20px;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 8px;
    z-index: 1000;
    position: fixed;
    bottom: 13rem;

}


.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.container-login table{
    border-collapse: collapse;
}
.container-login th, .container-login td{
    border: none;
    padding: 2px
}


.sidebar {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100%;
    background-image: linear-gradient(to right, #0ba360 0%, #3cba92 100%);;
    color: black;
    transition: left 0.6s ease-in-out;
}
 
.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
 
.sidebar-header h3 {
    margin: 0;
}
 
.sidebar-header .close-btn {
    font-size: 24px;
    cursor: pointer;
}
 
.sidebar-links {
    list-style: none;
    padding: 0;
    margin: 0;
}
 
 
.sidebar-links a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 16px;
    transition: background 0.3s ease;
}
 
.sidebar-links a:hover {
    background-color: #3e6268;
}

  
  
  #search-results {
    display: none;
    height: 420px;
    overflow-y: auto; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #f9f9f9;
  }
  
  #search-results h3 {
    margin: 0 0 10px; /* Add spacing below the heading */
  }
  
  #employee-table {
    width: 100%; /* Ensure the table spans full width */
    border-collapse: collapse; /* Remove extra space between table cells */
  }
  
  #employee-table th, #employee-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  #employee-table th {
    background-color: #f2f2f2;
    font-weight: bold;
  }

  