*{
    box-sizing: border-box;
    margin: 0;
}

body{
    display:flex;
    flex-direction: column;
}
.viewport{
    height: 100vh;
    display:flex;
    flex-direction: column;
}

main{
    flex: 1;
    display: flex;
}

header{
    display: flex;
    justify-content: space-between;
    padding-inline: 1rem;
    background-color: bisque;
    align-items: center;
    padding: .5rem;
}

aside{
    width: 13rem;
    background-color: beige;
    height: 100%;
}

aside ul{
    gap: 1rem;
    padding: 0;
    margin: 0;
}

aside ul li{
    list-style: none;
    padding: 1rem;
    width: 100%;
    margin: 0;
    cursor: pointer;
}

aside ul li:hover{
    background-color: grey;
}


.content{
    display: none;
    
}

.content.active{
    margin: 1rem;
    display: block;
}
footer{
    display: flex;
    justify-content: space-around;
    background-color: bisque;
}
