*{
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{

    height: 100vh;
}

.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    flex: 1;
}

header {
    padding: 1em;
    background-color: bisque;
}

header h1{
    font-style:oblique;
}   

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
}

header nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 1rem;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: underline;
    color: purple;
    font-style: oblique;
}

main .container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex : 1;
}

.container-options{

    margin-left: 60%;
    padding: 0%;

}
.login-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    width: 400px;
    height: 250px;
    background:linear-gradient(90deg,bisque, #666666) ;
 }

 #wildcard{
    font-size: x-small;
    color: #666666;
 }

.container button, .container input{
    margin: 8px 0;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: max-content;
    justify-content: center;
    width: 10rem;
}

.container .login-box button{
    width: 45%;
}


.login-box button:hover{
    background-color: green;
}


footer .container{
    text-align: center; 
    padding: 10px; 
    background-color: #666666; 
    color: white;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
}


/* .container-details{
        display: none;
        padding: 20px;
        background-color: #fff;
        border: 2px solid #ccc;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        z-index: 1000;

} */

.container-importfile{
    display: none;
    padding: 20px;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;

}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}